<!DOCTYPE HTML>

<html class="page-portfolio">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <title>Joshua's Portfolio</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		
		<link rel="shortcut icon" href="/images/favicon.ico">

		<link rel="stylesheet" href="/css/style.min.css">
			
		<!-- Index And Follow Links --> <meta name="robots" content="follow">
	</head>

	<body>	
		<header class="container">
			<div id="simpleSizing"></div>
		</header>
	
		<div class="container deckOfCards">
			<div class="row">
				<div class="col-md-4">
					<div class="card noStyle"><% include theMenu.html %></div>
				
					<%- portfolioItemPreview("dreedtea") %>
					<%- portfolioItemPreview("tee-jay-jones") %>
				</div>
				
				<div class="col-md-4">
					<%- portfolioItemPreview("ketubah_boutique") %>
					<%- portfolioItemPreview("pipeline") %>
					<%- portfolioItemPreview("casablanca") %>
				</div>
				
				<div class="col-md-4">
					<%- portfolioItemPreview("sofla_web") %>
					<%- portfolioItemPreview("aromadoterra") %>
				</div>
			</div>
		</div>
		
		<div class="container deckOfCards">
			<div class="col-md-4 col-md-offset-4 card">
				<div class="menu">
					<b><a onclick="$('body').toggleClass('show_olderWork'); $(this).parent().parent().parent().css('visibility', 'hidden'); $(window).trigger('resize');">See Older Work</a></b>
				</div>
			</div>
		</div>
		
		<% include emailME_popup.html %>
				
		<a href="javascript: window.scrollTo(0, 0);" id="topLink">▲ To The Top ▲</a>
	
		<script src="/js/jquery-1.9.1.min.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>
