<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <title>Resume - Joshua Hoffman</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="stylesheet" href="/css/style.min.css">
		
		<!-- Index And Follow Links --> <meta name="robots" content="follow">
	</head>

	<body>
		<header class="container">
			<div id="simpleSizing"></div>
		</header>
	
		<div class="container deckOfCards">
			<div class="row">
				<div class="col-md-4">
					<div class="card noStyle"><% include theMenu.html %></div>
				</div>
				
				<div class="col-md-4">
					<div class="card text-center">
						<img src="/images/profile-axis.png" alt="Profile Pic" width="100%" class="picEffectOne">
						
						<h1 style="margin: 0px;"><small>Joshua Hoffman</small></h1>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 col-md-push-0">
					<div class="card">
						<b>
							<span class="job-title">Web Developer</h3>
							<div class="job-3w">
								<div class="pull-left">Sensation Enterprises, Fort Lauderdale, FL</div>
								<div class="pull-right">May 2015</div>
								<div class="clearfix"></div>
							</div>
						</b>

						<p class="job-description">Built a html5 app, Instafeed, that pulls instagrams pictures down from specific hashtags for specific events to display photos of attendees. Configured the Raspberry Pi for the Instafeed app to stream on; the device is used for displaying the images on television screens.</p>

						<p class="job-references">
							REFERENCE: Carlos Zamora (Manager) : <a href="#" class="render-phone-link">czamora@sensationenterprises.com</a> : <a href="#" class="render-tel-link">954-470-2494</a>
						</p>
					</div>


				</div>
			</div>
		</div>
		
		<% include emailME_popup.html %>
		
		<a href="javascript: window.scrollTo(0, 0);" id="topLink">▲ To The Top ▲</a>
		
		<script src="/js/jquery-1.9.1.min.js"></script>
		<script src="/js/bootstrap.js"></script>
        <script src="/js/main.js"></script>
	</body>
</html>
